# Supabase - server-side
SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
SUPABASE_WEBHOOK_SECRET=

# Supabase - client-side
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=

# Google AdSense
VITE_ADSENSE_PUBLISHER_ID=
VITE_ADSENSE_SLOT_HEADER=
VITE_ADSENSE_SLOT_FEED=
VITE_ADSENSE_SLOT_SIDEBAR=

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
